<% provide(:title, "Contact") %>

<section class="row">
  <div class="col-md-7 blog-package">
    <div class="blog-post contact row">
      <h3>Contact Me</h3>
      <%= form_for @message, url: contact_path, method: :post, class: "form-inline" do |f| %>
        <div class="col-md-6">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="col-md-6">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="col-md-12">
          <%= f.label :subject %>
          <%= f.text_field :subject, class: 'form-control' %>
        </div>

        <div class="col-md-12">
          <%= f.text_area :body, class: 'form-control', rows: 20 %>
        </div>


        <div class="col-md-12 text-center">
          <%= f.submit "Send Email", class: 'btn btn-primary text-center' %>
        </div>
      <% end %>
    </div>
  </div>
</section>