<% provide(:title, "Home") %>

<% if signed_in? %>
  <div><%= link_to "Log out", logout_path, method: :delete %></div>
<% end %>
<% @entries.each do |entry| %>
  <div class="row blog-package">
    <div class="col-md-9">
      <div class="blog-post">
        <h2><%= entry.title %></h2>
        <% if signed_in? %>
          <p><%= link_to "Edit", edit_entry_path(entry) %></p>
        <% end %>
        <p><%= simple_format(entry.body) %></p>
      </div>
    </div>
    <div class="col-md-3">
      <h2 class="blog-date"><%= entry.created_at.strftime("%a, %B %e %Y") %></h2>
      <div class="blog-stats">
        <h5>Tags</h5>
        <div class="tags">
          <% if entry.tags.any? %>
            <% entry.tags.each_with_index do |tag, index| %>
              <% if index == entry.tags.size - 1 %>
                <a><%= tag.tagType %></a>
              <% else %>
                <a><%= tag.tagType %></a>,
              <% end %>
            <% end %>
          <% else %>
            <a>None</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="col-md-9 text-center">
  <%= will_paginate @entries %>
</div>
