<nav class="text-center" id="side-menu">
  <a id="main-logo" class="fa fa-code" href="<%= root_path %>"></a>
  <h2 class="light-blue">Birge Clark</h2>
  <h4 class="off-white">Web Developer</h4>
  <ul class="nav">
    <li class="<%= controller.class == HomeController and controller.action_name == 'home' ? 'active' : '' %>">
      <a href="<%= root_path %>" class="salmon"><span class="fa fa-file-text-o"></span> Entries</a>
    </li>
    <li>
      <a href="https://github.com/birge"><span class="fa fa-github"></span> Code</a>
    </li>
    <li class="<%= controller.class == MessagesController and controller.action_name == 'new' ? 'active' : '' %>">
      <a href="<%= contact_path %>" class="gold"><span class="fa fa-envelope-o"></span> Contact</a>
    </li>
    <li class="<%= controller.class == HomeController and controller.action_name == 'about' ? 'active' : '' %>">
      <a href="<%= about_path %>" class="teal"><span class="fa fa-user"></span> About</a>
    </li>
  </ul>
</nav>