<!DOCTYPE html>
<html>
<head>
  <title>(Dexter Clark) <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" style="border: 1px solid black">
      <%= render "layouts/side_menu" %>
    </div>
    <div class="col-md-10" style="border: 1px solid black">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
